.box {
    height: 100vh;
    display: flex;
}

.box-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.middle-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-connection {
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    height: 15%;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
    color: black;
}

.add-new-connection-title {
    font-weight: bold;
}

.add-new-connection-type {
    font-size: 12px;
    color: grey;
}

.create-connection {
    height: 60%;
    width: 40%;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 20px;
    text-align: start;
}

.create-connection-title {
    color: black;
    font-weight: bold;
}

.create-co-host-and-port {
    display: flex;
    width: 100%;
    color: grey;
}

.create-co-host {
    width: 70%;
    margin-right: 10px;
}

.create-co-port {
    width: 30%;
}